body {
	font-size: 8pt;
	background-image: url("../image/background.png");
	background-attachment: fixed;
	background-repeat: repeat;
	font-family: Verdana, Tahoma;
	height: 100%;
	margin: 0;
}

html {
	height: 100%;
	margin: 0;
}

.banner {
	text-align: center;
	background-image: url("../image/bannerbackground.png");
	background-repeat: repeat;
	height: 50px;
}

.movie_name {
	font-family: Tahoma, Verdana;
	font-size: 24pt;
	text-align: center;
	font-weight: bold;
}

.container {
	border:4px solid gray;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.left {
	width: 550px;
	float:left;
	margin: 0;
	height: 100%;
}

.right {
	margin-left: 550px;
}

.rotten_img {
	background-image: url("../image/rottenbackground.png");
	background-repeat: repeat;
	height: 83px;
	width: 100%;
}

.rotten_self {
	float: left;
}

.overall {
	font-weight: bold;
	font-size: 48pt;
	color: red;
}

.reviews_amount {
	color: white;
	font-size: 8pt;
}

.rows {
	height: 621px;
}

.quotes_container {
	margin-top: 11px;
	margin-bottom: 22px;
}

.two_percent {
	width: 2%;
	float: left;
	height: 100%;
}

.left_col {
	width:47%;
	float: left;
	height: 100%;
}

.right_col {
	width: 47%;
	float: left;
	height: 100%;
}

blockquote {
	font-size: 8pt;
	font-weight: bold;
	background-color: #E1D697;
	border:2px solid gray;
	padding: 8px;
	margin: 0;
}

.rotten_gif {
	margin-right: 5px;
	float: left;
}

.reviewer_info {
	float: left;
	font-style: italic;
}

.reviewer_img {
	margin-right: 5px;
	float: left;
}

.reviewer {
	height: 35px;
	margin-top: 10px;
}

.movie_info {
	padding: 10px;
	background-color: #A2B964;
	font-family:  Arial;
	font-size: 8pt;
	margin: 0;
	display: block;
}

.overview_image {
	display: block;
	margin-bottom: -2px;
}

.footer {
	background-color: #A2B964;
	text-align: center;
	margin: 0;
	padding: 5px;
}

.certification {
	position:fixed;
	bottom: 20px;
	right: 25px;
	width: auto;
	height: auto;
}
