#maze_background {
	display: none;
}

body {
	font-family: "Arial";
	background-color: #f8eed6;
	margin: 0;
	padding: 0;
}

#maze_div {
	text-align: center;
}

h2 h3 h4 {
	font-weight: normal;
}

#generate_button {
	display: block;
	text-decoration:none;
	text-align:center;
	color:white;
	font-size:20px;
	width:120px;
	height:45px;
	margin-left: auto;
	margin-right: auto;
	line-height:50px;
	background-color:#167bd4;
	border-radius:5px;
	box-shadow:5px 5px 0px 0 #25527a;
}